    html {
        background-color: rgb(15 133 15);
        }
.home-header {       /* 홈 fionfow */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    }        
.home-container {    /*검색 창 포함 홈 컨테이너*/
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 11px;
    background-color: green;
    height: 100%;
    }
.autocomplete {
    list-style: none;
    padding: 0;
    margin-left: 4px;
    width: 690px;
    max-height: 320px;  /*1rem = 16px , px로 통일함*/
    overflow: auto;
    border: 1px solid #ccc;
    background-color: #fff;
    }
.autocomplete li {
    padding: 8px;
    cursor: pointer;
    }
.autocomplete li:hover {
    background-color: #ccc;
    }
    button {
        font-size: 18px;
        border-radius: 8px;
        background-color: greenyellow;
        }
    ul {
        margin-bottom: 1px;
        padding: 0;  
        }
    nav {
        justify-content: space-between;
        }
    nav, nav ul, nav li, nav div{
        background-color: rgb(101, 234, 107);
        display: flex;
        flex-wrap: nowrap; /*기본값*/
        flex-direction: row; /*기본값*/
        }
    nav ul li{
        padding: 17px 34px;
        box-sizing: border-box;
        }
    nav ul :hover{
        background-color: rgb(139, 243, 208);
        }
    a {
        text-decoration: none;
        color: black;
        font-family: 'Roboto', sans-serif;
        }
    .form {
        margin-top: -2px;
        position: sticky;
        top: -2px;
        z-index: 3;
        }
    /*input[type="text"]*/
    .name-input {
        width: 700px;
        height: 32px;
        font-size: 16px;
        padding: 8px;
        border-radius: 8px;
        margin-right: -8px;
        outline: none;
        }
  .header-container {
      display: flex;
      flex-direction: column;
      align-content: center;
      margin-top: 240px;
      }
  header div img {
      margin-top: 7px;
      width: 130px;
      height: 45px;
      }
  .player-card-container{
      position: relative;
      }
  .card-background {
      position: relative;
      z-index: 1;
      height: 250px;
      left: 0px;
      text-align: center;
      }
  .card-mugshot {
      position: absolute;
      top: 76.3px;
      left: 42px;
      z-index: 2;
      max-width: 110px;
      }
  .player-ovr-pos-container{
      position: absolute;
      font-size: 20px;
      text-align: center;
      width: 45px;
      left: 5px;
      z-index: 2;
      top: 35px;
      }
  .player-team {
      margin-left: 1px;
      margin-top: 32px;
      width: 27px;
      height: 27px;
      z-index: 3;
      }
  .player-name-outer-container {
      position: absolute;
      display: flex;
      z-index: 2;
      align-items: center;
      justify-content: center;
      height: 20px;
      top: 190px;
      left: 8px;
      width: 140px;   
      }
  .player-pay {
      position: absolute;
      left: 80.5px;
      z-index:2;
      bottom: 9px;
      width: 27.5px;
      height: 15px;
      background-color: rgba(0,0,0,0);
      margin: 8.66px 0;
      border-left: solid 2px #A7A9AE;
      border-right: solid 2px #A7A9AE;
      transform: scale(0.8) translateX(-20px);
      font-size: 16px;
      color: #3F434A;
      text-align: center;
      font-weight: bold;
      letter-spacing: 0px;
      opacity: .7;
      line-height: 0.9;
      }
  .player-pay::after {
      bottom: -10px;
      border-bottom: solid 2.8px #A7A9AE;
      border-left: solid 2.8px #A7A9AE;
      content: "";
      position: absolute;
      z-index: 1;
      width: 18px;
      height: 20px;
      transform: scaleY(0.6) rotate(-45deg);
      background-color: inherit;
      left: 2px;
      z-index: 1;
      }
  .player-pay::before {
      top: -9.5px;
      border-top: solid 2.8px #A7A9AE;
      border-right: solid 2.8px #A7A9AE;
      content: "";
      position: absolute;
      z-index: 1;
      width: 17.9px;
      height: 20px;
      transform: scaleY(0.6) rotate(-45deg);
      background-color: inherit;
      z-index: 1;
      left: 3.3px;
      }
  .player-teams {
      margin-right: 5px;
      height: 16px;
      }
  .player-ovr {
      font-size: 23px;
      color:#fff;
      font-family: "Arial", sans-serif;
      text-shadow: 0px 0px 1.5px rgba(0,0,0,.5),
                   0px 0px 1.5px rgba(0,0,0,.5),
                   0px 0px 1.5px rgba(0,0,0,.5),
                   0px 0px 1.5px rgba(0,0,0,.5);
      }
  .player-pos {
      font-size: 17px;
      margin-top: -10px;
      color:#fff;
      font-family: "INGAME";
      text-shadow: 0px 0px 1.5px rgba(0,0,0,.5),
                   0px 0px 1.5px rgba(0,0,0,.5),
                   0px 0px 1.5px rgba(0,0,0,.5),
                   0px 0px 1.5px rgba(0,0,0,.5);
      }
  .player-nationality {
    margin-top: -20px;
      width: 25px;
      height: 14px;
      }
  .p-name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 500;
      font-size: 17px;
      }
  .card-season-tooltip {
      margin-right: 3px;
      }
  .player-card-container:hover {
    background-color: lightgray;
  }

  .option-class-image {
    margin-bottom: 60px;
    position: relative;
    z-index: 1;     /*낮은 숫자가 높은 숫자 위에 표시*/
    background-color: green;
  }
  .option-values {
    display: flex;
    flex-wrap: wrap; /* 요소가 너비를 벗어나면 줄 바꿈 */
    position: absolute; /* 자식 요소에 absolute 위치 설정 */
    margin-top: 0px; /* 원하는 위치로 조정 */
    left: 0;
    background-color: green;
  }
  .option-values img {
    width: 20px;
    height: 15px;
  }
  .class-image {
    margin-right: 5px;
    margin-bottom: 5px; /* 아래 여백 추가하여 줄 바꿈 */
    opacity: 0.5; /* 선택되지 않은 옵션의 투명도 */
    cursor: pointer;
  }
  .class-image.selected {
    opacity: 1; /* 선택된 옵션의 투명도 */
  }
  .option-label {
    margin-right: 5px;
  }
  .autocomplete-na {
    list-style: none;
    padding: 0;
    margin-left: 42px;
    width: 190px;
    max-height: 320px;  /*1rem = 16px , px로 통일함*/
    overflow: auto;
    border: 1px solid #ccc;
    background-color: #fff;
  }
  .autocomplete-tc {
    list-style: none;
    padding: 0;
    margin-left: 55px;
    width: 176px;
    max-height: 320px;  /*1rem = 16px , px로 통일함*/
    overflow: auto;
    border: 1px solid #ccc;
    background-color: #fff;
  }
  .nation-input {
    width: 200px;
    height: 32px;
    font-size: 16px;
    padding: 8px;
    border-radius: 8px;
    margin-right: -8px;
    outline: none;
  }
  .team-input {
    width: 186px;
    height: 32px;
    font-size: 16px;
    padding: 8px;
    border-radius: 8px;
    margin-right: -8px;
    outline: none;
  }
  .search-inputs {
    position: relative;
    z-index: 2;
    margin-top: -2px;
  }
  /*
  .filter-options {
    position: relative;
    z-index: 1;
    background-color: green;
  }
  .search-inputs {
    position: relative;
    z-index: 2;
    margin-top: -2px;
  }
  */